ClientwebNhom1/web/WEB-INF/wsdl/localhost_8080/WSNhom1/DichVu.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Test/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Test/" name="DichVu">
<types>
<xsd:schema>
<xsd:import namespace="http://Test/" schemaLocation="http://localhost:8080/WSNhom1/DichVu?xsd=1" />
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="getnv">
<part name="parameters" element="tns:getnv" />
</message>
<message name="getnvResponse">
<part name="parameters" element="tns:getnvResponse" />
</message>
<message name="Tich">
<part name="parameters" element="tns:Tich" />
</message>
<message name="TichResponse">
<part name="parameters" element="tns:TichResponse" />
</message>
<message name="Timkiem">
<part name="parameters" element="tns:Timkiem" />
</message>
<message name="TimkiemResponse">
<part name="parameters" element="tns:TimkiemResponse" />
</message>
<message name="getLoai">
<part name="parameters" element="tns:getLoai" />
</message>
<message name="getLoaiResponse">
<part name="parameters" element="tns:getLoaiResponse" />
</message>
<message name="getSach">
<part name="parameters" element="tns:getSach" />
</message>
<message name="getSachResponse">
<part name="parameters" element="tns:getSachResponse" />
</message>
<portType name="DichVu">
<operation name="hello">
<input wsam:Action="http://Test/DichVu/helloRequest" message="tns:hello" />
<output wsam:Action="http://Test/DichVu/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="getnv">
<input wsam:Action="http://Test/DichVu/getnvRequest" message="tns:getnv" />
<output wsam:Action="http://Test/DichVu/getnvResponse" message="tns:getnvResponse" />
</operation>
<operation name="Tich">
<input wsam:Action="http://Test/DichVu/TichRequest" message="tns:Tich" />
<output wsam:Action="http://Test/DichVu/TichResponse" message="tns:TichResponse" />
</operation>
<operation name="Timkiem">
<input wsam:Action="http://Test/DichVu/TimkiemRequest" message="tns:Timkiem" />
<output wsam:Action="http://Test/DichVu/TimkiemResponse" message="tns:TimkiemResponse" />
</operation>
<operation name="getLoai">
<input wsam:Action="http://Test/DichVu/getLoaiRequest" message="tns:getLoai" />
<output wsam:Action="http://Test/DichVu/getLoaiResponse" message="tns:getLoaiResponse" />
</operation>
<operation name="getSach">
<input wsam:Action="http://Test/DichVu/getSachRequest" message="tns:getSach" />
<output wsam:Action="http://Test/DichVu/getSachResponse" message="tns:getSachResponse" />
</operation>
</portType>
<binding name="DichVuPortBinding" type="tns:DichVu">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getnv">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Tich">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Timkiem">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getLoai">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSach">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="DichVu">
<port name="DichVuPort" binding="tns:DichVuPortBinding">
<soap:address location="http://localhost:8080/WSNhom1/DichVu" />
</port>
</service>
</definitions>